<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- Переменные -->
	<variable name="logFolder" value="${basedir}/logs/${shortdate}" />

	<targets>
		<!-- Логирование в файл для UI -->
		<target xsi:type="File" name="logfile_ui"
				fileName="${logFolder}/ui.log"
				encoding="utf-8">
			<layout xsi:type="CSVLayout" delimiter=" | " withHeader="true" quoting="Nothing">
				<column name="time" layout="${longdate:padding=-30}" />
				<column name="level" layout="${uppercase:${level}:padding=-15}" />
				<column name="logger" layout="${callsite:className=true:methodName=true:skipFrames=1:padding=-40}" />
				<column name="message" layout="${message:escapeUnicode=false:padding=-45}" />
				<column name="exception" layout="${exception:format=tostring:padding=-55}" />
			</layout>
		</target>

		<!-- Логирование в файл для оборудования -->
		<target xsi:type="File" name="logfile_device"
				fileName="${logFolder}/device.log"
				encoding="utf-8">
			<layout xsi:type="CSVLayout" delimiter=" | " withHeader="true" quoting="Nothing">
				<column name="time" layout="${longdate:padding=-30}" />
				<column name="level" layout="${uppercase:${level}:padding=-15}" />
				<column name="logger" layout="${callsite:className=true:methodName=true:skipFrames=1:padding=-40}" />
				<column name="message" layout="${message:escapeUnicode=false:padding=-45}" />
				<column name="exception" layout="${exception:format=tostring:padding=-55}" />
			</layout>
		</target>

		<!-- Логирование в консоль с цветовым выделением -->
		<target xsi:type="ColoredConsole" name="logconsole">
			<layout>
				<layout xsi:type="SimpleLayout">
					${longdate:padding=-30} | ${uppercase:${level}:padding=-15} | ${callsite:className=true:methodName=true:padding=-40} | ${message:padding=-45}
				</layout>
			</layout>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<!-- Логирование для UI -->
		<logger name="*_UI" minlevel="Debug" writeTo="logfile_ui" />

		<!-- Логирование для оборудования -->
		<logger name="*_Device" minlevel="Debug" writeTo="logfile_device" />

		<!-- Логирование в консоль -->
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
	</rules>
</nlog>